@font-face {
    font-family: "iran";
    src: url(../fonts/BYekan+\ Bold.ttf);
}
@font-face {
    font-family: "iran";
    src: url(../fonts/iran.ttf);
}
@font-face {
    font-family: "iran";
    src: url(../fonts/Iranian\ Sans.ttf);
}
